.headContainer {
    background-image: url('../assets/pexels-divinetechygirl-1181244.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.navigate{
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.logo {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.navigate nav {
    margin-top: 20px;
}

.jobPost{
    margin-right: 20px;
    text-decoration: none;
    background-color: red;
    padding: 8px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.login {
    text-decoration: none;
    margin-right: 20px;
    padding: 8px;
    border-radius: 15px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 50px;
}

.hero p{
    font-size: xx-large;
    color: red;
    text-align: center;
    font-weight: bold;

}


/* search icon */


.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-icon {
    margin-right: 10px;
    color: #888;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
  }
  